doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title lazr

        link(rel='icon', type='image/x-icon', href='assets/img/logos/lazr-logo.png')

        // Font Awesome icons (free version)
        //- script(src='https://use.fontawesome.com/releases/v5.12.1/js/all.js', crossorigin='anonymous')
        script(src='https://kit.fontawesome.com/d54dfa917c.js' crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap", rel="stylesheet",type='text/css')
        
        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top', id='logo-top')
                    img(src='assets/img/logos/lazr-logo-white.png', id='logo-top-img')
                    h2.section-heading lazr
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ml-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Services
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Platform
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#team') Why Lazr?
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') How it works
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-heading.text-uppercase It's Nice To Meet You
                .masthead-subheading Welcome To Our Studio!
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger.py-3(href='#services') Tell Me More
                a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger.py-3(href='#contact') Get started now



        // Services
        section#services.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Services
                    h3.section-subheading.text-muted Our platform is unique because it handles everything.  You can do all type of in-land transportation from your lazr account.
                    br
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fad.fa-truck.fa-stack-1x.fa-inverse
                        h4.my-3 Over the road
                        p.text-muted.text-justify
                            | Our pricing engine is simply unique. You will get instant pricing from all major carriers, that is a feat in itself.  Lazr pushes this perk further by offering the offer of thousands of partner-carriers and 3PL's in the mix.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fas.fa-wave-triangle.fa-stack-1x.fa-inverse
                        h4.my-3 Inter-modal
                        p.text-muted.text-justify
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fad.fa-user-headset.fa-stack-1x.fa-inverse
                        h4.my-3 Custom Logistics
                        p.text-muted.text-justify
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                .row.text-center
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fad.fa-space-station-moon.fa-stack-1x.fa-inverse
                        h4.my-3 Specialized cargo
                        p.text-muted.text-justify
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fad.fa-user-chart.fa-stack-1x.fa-inverse
                        h4.my-3 Data management
                        p.text-muted.text-justify
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    .col-md-4
                        span.fa-stack.fa-4x
                            i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fad.fa-file-import.fa-stack-1x.fa-inverse
                        h4.my-3 Documentation
                        p.text-muted.text-justify
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                br
                br
                hr

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Platform
                    h3.section-subheading.text-muted Our platform is beautiful and easy to use.  Filled with tools, you will become a master-logistician instantly. 
                .row.portfolioLines
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/dashboards.png', alt='Dashboards')
                            .portfolio-caption
                                .portfolio-caption-heading Powerful Dashboards
                                .portfolio-caption-subheading.text-muted By user type
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/team.png', alt='team')
                            .portfolio-caption
                                .portfolio-caption-heading Team based
                                .portfolio-caption-subheading.text-muted collaboration
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/tracking.png', alt='tracking')
                            .portfolio-caption
                                .portfolio-caption-heading Automated-tracking
                                .portfolio-caption-subheading.text-muted locate your stuff
                .row.portfolioLines                
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/totalcontrol.png', alt='shipment-list')
                            .portfolio-caption
                                .portfolio-caption-heading shipment and quotes list
                                .portfolio-caption-subheading.text-muted total control
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/addressbook.png', alt='addressbook')
                            .portfolio-caption
                                .portfolio-caption-heading Address Book
                                .portfolio-caption-subheading.text-muted Eliminate errors
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/actionnable.png', alt='actionnable')
                            .portfolio-caption
                                .portfolio-caption-heading Actionnable items
                                .portfolio-caption-subheading.text-muted Never miss a beat
                .row.portfolioLines
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/totalcontrol.png', alt='shipment-list')
                            .portfolio-caption
                                .portfolio-caption-heading shipment and quotes list
                                .portfolio-caption-subheading.text-muted total control
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/addressbook.png', alt='addressbook')
                            .portfolio-caption
                                .portfolio-caption-heading Address Book
                                .portfolio-caption-subheading.text-muted Eliminate errors
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/actionnable.png', alt='actionnable')
                            .portfolio-caption
                                .portfolio-caption-heading Actionnable items
                                .portfolio-caption-subheading.text-muted Never miss a beat
                hr

                // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase What makes lazr truly awesome
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/Downward-Trend1.png', alt='')
                            h4 Shipping discounts
                            p.text-muted Lead Designer
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/2.png', alt='')
                            h4 Software
                            p.text-muted Lead Marketer
                    .col-lg-4
                        .team-member
                            img.mx-auto.rounded-circle(src='assets/img/team/support.png', alt='')
                            h4 customer support
                            p.text-muted Lead Developer
            



        // About = HOW DOES IT WORK ?
        section#about.page-section
            .container(id='timelineContainer')
                .text-center
                    h2.section-heading.text-uppercase(id='hdiw') how does it work?
                    span.fa-stack.fa-4x
                            //- i.fas.fa-circle.fa-stack-2x.text-primary
                            i.fad.fa-portal-enter.fa-stack-1x.fa-inverse(id='titleIcon')
                            
                    p.text-muted.text-justify shipping merchandise can be complex and long.  There is a lot to know, after all people study years to become a logistician.  A simple error can cost you and your company a lot because the cargo isn't where it should be, when it should be.  Also, there are many other speed-bumps you will hit such as freight classes, customs documentation, insurance or even zip codes.  Our platform makes this process easy, quick and fun.  Avoid this mess that you used to spend hours on and handle your freight booking in seconds.  Once this is taken care of, let our awesome command center provide the feeling of control you wish you had now.  You will know where your merchandise is, be provided with useful data and improve further your logistics operations.  Start shipping like a pro now and spend time on what matters, the reason your company exists, its very own operations. 
                    br
                    br
                    h4.subheading(id='blueSubheading') the step-by-step illustration below explains how it works. 
                    br
                    br
                    br
                    
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                i.fad.fa-rocket-launch.fa-stack-1x.fa-inverse(id='blueIcons')
                                h6.text-muted.d-inline(class='steps') step 1
                                    
                                    i.fad.fa-rocket-launch.fa-stack-1x.fa-inverse(id='blueIcons')
                                h4.subheading You build your awesome product
                            .timeline-body
                                p.text-muted.text-justify
                                    | Your company knows how to create amazing things.  Your stuff is produced or sourced like only you can.  Meanwhile, our team has created a unique platform helping spread the good news that is your product to your customers, suppliers and other. 

                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.png', alt='')
                        .timeline-panel
                            .timeline-heading
                                h6.text-muted(class='steps') step 2
                                h4.subheading Log-in to your lazr account
                            .timeline-body
                                p.text-muted.text-justify
                                    | You can log in to your account from anywhere, on your computer, phone or tablet.  
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h6.text-muted(class='steps') step 3
                                h4.subheading Get prices
                            .timeline-body
                                p.text-muted.text-justify
                                    | Go to the ''get prices'' tab, enter your shipment info. Bam, just like that you scanned the market and got the best deal.  Now that all options are layed-out in front of you, you can easily select the best service-type to suit your needs. 
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h6.text-muted(class='steps') step 4
                                h4.subheading Select desired option & book!
                            .timeline-body
                                p.text-muted.text-justify
                                    |  Should your shipment be critical, select the quickest transit-time.  Should you require special-care, select one of our standard partners and they will handle with care. Your concern is cost-effectiveness, no problem et got that as well, the cheapest option is right up there!  Finally, for all sopecialized needs, go with our unique custom quote option and logistics specialist from our partnered 3PL's will send you a custom route very soon.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h6.text-muted(class='steps') step 5
                                h4.subheading Documentation
                            .timeline-body
                                p.text-muted.text-justify
                                    | Preparing documentation in order to ship merchandise takes time and is boring. Nobody likes that.  The good news is you will never need to fill out a bill of lading ever again with Lazr.  You can download  it from the order and you can upload any other documentation you need within the order for easy access.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/truck.png', alt='truck')
                        .timeline-panel
                            .timeline-heading
                                h6.text-muted(class='steps') step 6
                                h4.subheading Truck on the way!
                            .timeline-body
                                p.text-muted.text-justify
                                    | Once a shipment is processed in Lazr, driver is on they way!  You can access all your shipments information from your dashboard.  You will also have all the information you may need to manage your over the road logistics from there! 
                    
                    li.timeline-inverted
                        .timeline-image
                            span.fa-stack.fa-4x
                                i.fad.fa-portal-exit.fa-stack-1x.fa-inverse



        // Clients
        section.py-5(id='clientSection')
            .container
                .row
                    .col-md-3.col-sm-6.my-3
                        p.text-muted.text-justify 500 Million automated pricing items
                        a(href='#!')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/img_0032.jpg', alt='' width='100px')
                    .col-md-3.col-sm-6.my-3
                        p.text-muted.text-justify Average saving for new users = 21%
                        a(href='#!')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/designmodo.jpg', alt='')
                    .col-md-3.col-sm-6.my-3
                        p.text-muted.text-justify Best in class customer service
                        a(href='#!')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/themeforest.jpg', alt='')
                    .col-md-3.col-sm-6.my-3
                        p.text-muted.text-justify Get pricing from over 100+ partners
                        a(href='#!')
                            img.img-fluid.d-block.mx-auto(src='assets/img/logos/creative-market.jpg', alt='')

                    div(style='clear: both')
        // Contact            

        section#contact.page-section
            .container
                .text-center(id='contactus')
                    h2.section-heading.text-uppercase Contact Us + Open Account
                    h3.section-subheading of us will contact you asap
                form#contactForm(name='sentMessage', novalidate='novalidate')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group
                                input#name.form-control(type='text', placeholder='Your Name *', required='required', data-validation-required-message='Please enter your name.')
                                p.help-block.text-danger
                            .form-group
                                input#email.form-control(type='email', placeholder='Your Email *', required='required', data-validation-required-message='Please enter your email address.')
                                p.help-block.text-danger
                            .form-group.mb-md-0
                                input#phone.form-control(type='tel', placeholder='Your Phone *', required='required', data-validation-required-message='Please enter your phone number.')
                                p.help-block.text-danger
                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0
                                textarea#message.form-control(placeholder='Your Message *', required='required', data-validation-required-message='Please enter a message.')
                                p.help-block.text-danger
                    .text-center
                            #success
                            button#sendMessageButton.btn.btn-primary.btn-xl.text-uppercase(type='submit') Send Message
                hr.py-2(id='hrbottom')     
            .row
                .col-lg-12.text-center.py-4 
                    
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89195.27599432427!2d-73.92725842250921!3d45.683900029889614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc8d7d3b70c861b%3A0xfabe67a302e9227d!2sBlainville%2C%20QC!5e0!3m2!1sfr!2sca!4v1588623247968!5m2!1sfr!2sca" 
                    width="300" height="300" frameborder="2" style="border:5;" allowfullscreen="true" aria-hidden="false" tabindex="0" id='map')
                        .col-lg-8.mx-auto.text-center
                        p.large.text-muted.center
                    | Developped with love in Blainville, Qc
                div(style='clear: both')


        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-left
                        | Copyright © Lazr Freight 2020
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(class='social' href='#!')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(class='social', href='#!')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(class='social', href='#!')
                            i.fab.fa-linkedin-in
                    .col-lg-4.text-lg-right
                        a.mr-3(href='#!') Privacy Policy
                        a(href='#!') Terms of Use

        // Portfolio Modals
        // Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/01-full.jpg', alt='')
                                    p
                                        | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Threads
                                        li Category: Illustration
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/02-full.jpg', alt='')
                                    p
                                        | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Explore
                                        li Category: Graphic Design
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/03-full.jpg', alt='')
                                    p
                                        | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Finish
                                        li Category: Identity
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/04-full.jpg', alt='')
                                    p
                                        | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Lines
                                        li Category: Branding
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 5
        #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/05-full.jpg', alt='')
                                    p
                                        | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Southwest
                                        li Category: Website Design
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project
        // Modal 6
        #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
            .modal-dialog
                .modal-content
                    .close-modal(data-dismiss='modal')
                        img(src="assets/img/close-icon.svg")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    // Project Details Go Here
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/06-full.jpg', alt='')
                                    p
                                        | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
                                    ul.list-inline
                                        li Date: January 2020
                                        li Client: Window
                                        li Category: Photography
                                    button.btn.btn-primary(data-dismiss='modal', type='button')
                                        i.fas.fa-times.mr-1
                                        | Close Project

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')