// Override Bootstrap color system
// LightBlue

$blue50: #E1F5FE;
$blue100 :#B3E5FC;
$blue200: #81D4FA;
$blue300: #4FC3F7;
$blue400: #29B6F6;
$blue500: #03A9F4;
$blue600: #039BE5;
$blue700: #0288D1;
$blue800: #0277BD;
$blue900: #01579B;
$blueA200: #40C4FF;
$blueA400: #00B0FF;
$blueA700: #0091EA;

// Yellow

$yellow: #fed136;

// Override Bootstrap default state colors

$primary: $blue800;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
