// Override Bootstrap typography variables

$font-family-base: "nunito";

$headings-font-family: "nunito";

$subheadings-font-family: "nunito";

$font-family-script: "nunito";

$headings-font-weight: 500;
$headings-letter-spacing: 0.0625em;
