// Override Bootstrap typography variables

$font-family-base: "nunito";

$headings-font-family: "raleway";

$subheadings-font-family: "raleway";

$font-family-script: "nunito";

$headings-font-weight: 600;
$headings-letter-spacing: 0.1925em;

// added 
$mainTitleSub: "raleway";